<!-- <div app-alert></div>
<app-warning></app-warning>

<input type="text" [(ngModel)]= 'txtName'>
<p>{{txtName}}</p>
<button (click)="onReset()" [disabled]="txtName.length==0">Reset</button>
<button (click) ="displayPara()">Display Text</button>
<p *ngIf = "isHidden">Secret PAssword is = Tuna</p>
<p *ngFor="let log of logs; let i=index">
   <span  [ngStyle]="{backgroundColor: i>=4?'blue':'white' }" [ngClass]=" {'whiteForecolor' :i>=4 }">
    Button clicked at {{log}}
   </span> 
</p> -->
<app-header (featureSelected) = "featurehandler($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
           <!-- <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
           <app-shopping-list *ngIf="loadedFeature === 'shopping-list'"></app-shopping-list> -->
           <router-outlet></router-outlet>
        </div>
    </div>
</div>